<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kg.us.sakanatang.mapper.LikesMapper">

    <resultMap id="BaseResultMap" type="kg.us.sakanatang.domain.entity.Likes">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="createdAt" column="createdAt" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updatedAt" jdbcType="TIMESTAMP"/>
            <result property="deletedAt" column="deletedAt" jdbcType="TIMESTAMP"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="articleId" column="articleId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,createdAt,updatedAt,
        deletedAt,userId,articleId
    </sql>
</mapper>
